.container {
    display: flex;
  }
  
  div {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 217, 255);
    position: relative;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0% {
      background-color: rgb(76, 237, 243)(228, 151, 151);
      left: 0px;
      top: 0px;
    }
  
    25% {
      background-color: rgb(53, 109, 131);
      left: 200px;
      top: 0px;
    }
  
    50% {
      background-color: rgb(148, 60, 230);
      left: 200px;
      top: 200px;
    }
  
    75% {
      background-color: rgb(226, 42, 186);
      left: 0px;
      top: 200px;
    }
  
    100% {
      background-color: rgb(212, 27, 67);
      left: 0px;
      top: 0px;
    }
  }
  
  h3 {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 191);
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0% {
      background-color: red;
      left: 0px;
      top: 0px;
    }
  
    25% {
      background-color: yellow;
      left: 200px;
      top: 0px;
    }
  
    50% {
      background-color: blue;
      left: 200px;
      top: 200px;
    }
  
    75% {
      background-color: green;
      left: 0px;
      top: 200px;
    }
  
    100% {
      background-color: red;
      left: 0px;
      top: 0px;
    }
  }
  
  header {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
  
  @keyframes example {
    0% {
      background-color: red;
      left: 0px;
      top: 0px;
    }
  
    25% {
      background-color: yellow;
      left: 200px;
      top: 0px;
    }
  
    50% {
      background-color: blue;
      left: 200px;
      top: 200px;
    }
  
    75% {
      background-color: green;
      left: 0px;
      top: 200px;
    }
  
    100% {
      background-color: red;
      left: 0px;
      top: 0px;
    }
  }
  
  ul {
    list-style-type: none;
    margin: 80;
    padding: 55;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #0c0c0c;
  }
  
  .active {
    background-color: #9fdfc7;
    text-decoration: color(srgb red green blue)
  }